{% load static %}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "styles/login.css" %}>
    <link rel="shortcut icon" type="image/x-icon" href={% static "favicon.ico" %} type="image/x-icon">
    <link rel="icon" type="image/x-icon" href={% static "favicon.ico" %}>
    <meta charset="UTF-8">
    <title>PyBrains</title>
</head>
<body>
    <div class="main">
        <div>
            <span class="head">#print(“Login”)</span>
        </div>
        <form method="post">
            <input type="text" class="email_section" placeholder="@input(email)" required>
            <input class="password_section" type="text" placeholder="@input(password)" maxlength="20" required>
            <input type="submit" value="Start()" class="start">
        </form>
        <input type="submit" class="register_question" value="New? Click here to register">
    </div>
{% for i in terms %}
<span>{{ i.age }}</span>
{% endfor %}
</body>
</html>