body {
    background: #1C1818;
}

* {
    transform: scale(0.9);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    position: relative;
    width: 954px;
    height: 620px;
    background: #151515;
    border-radius: 17px;
    margin: auto;
}

.head {
    position: absolute;
    width: 576px;
    height: 84px;
    margin-top: 100px;
    margin-left: 200px;
    text-align: center;

    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;

    color: #FFFFFF;
}

.email_section {
    padding: 12px;
    width: 451px;
    height: 71px;

    margin-top: 200px;
    margin-left: 250px;

    background: #2D2828;
    border-radius: 17px;
}

.password_section {
    padding: 15px;
    width: 451px;
    height: 71px;

    margin-top: 37px;
    margin-left: 250px;

    background: #2D2828;
    border-radius: 17px;
}

.register_question {
    background: none;
    border: 0;
    cursor: pointer;
    color: #562C80;

    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;

    margin-left: 360px;
}

input[type=text] {
    outline: none;
    color: white;
    font-size: 30px;
    cursor: text;
    border: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

a:hover {
    cursor: default;
    text-decoration: none;
    color:#000000;
}

::-webkit-input-placeholder {
   color: #FFFFFF;
}

:-moz-placeholder {
   color: #FFFFFF;
}

::-moz-placeholder {
   color: #FFFFFF;
}

:-ms-input-placeholder {
   color: #FFFFFF;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.start {
    cursor: pointer;
    border: 0;
    padding: 12px;
    width: 552px;
    height: 80px;

    margin-top: 57px;
    margin-left: 200px;
    text-align: center;
    background-color: #562C80;
    border-radius: 17px;
    font-size: 40px;
    color: #FFFFFF;
    outline: none;
}
